html {
  font-size: calc(125% * 1.5); /* <- 1.1 equals + 10% – adjust to taste */
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

[data-md-color-scheme="slate"] {
  dotlottie-wc[src$="#only-light"] {
    display: none;
  }
}

[data-md-color-scheme="default"] {
  dotlottie-wc[src$="#only-dark"] {
    display: none;
  }
}